Source: python-virtualenv
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Carl Chenet <chaica@ohmytux.com>, Jeff Licquia <licquia@debian.org>
Homepage: http://pypi.python.org/pypi/virtualenv
Vcs-Svn: svn://svn.debian.org/svn/python-modules/packages/python-pip/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/python-modules/packages/python-pip/trunk/
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: python-all (>= 2.3.5-7), python-support, python-setuptools
Standards-Version: 3.8.3
XS-Python-Version: all

Package: python-virtualenv
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pkg-resources, python-setuptools
XB-Python-Version: ${python:Versions}
Description: Python virtual environment creator
 The virtualenv utility creates virtual Python instances, each invokable
 with its own Python executable.  Each instance can have different sets
 of modules, installable via easy_install.  Virtual Python instances can 
 also be created without root access.
