#!/usr/bin/make -f

export DH_ALWAYS_EXCLUDE=pip-0.7.2.tar.gz

%:
	dh $@

override_dh_auto_clean:

override_dh_auto_build:

override_dh_auto_install:

override_dh_install:
	dh_install

override_dh_link:
	dh_link usr/share/pyshared/virtualenv/virtualenv.py usr/bin/virtualenv
